@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial,;
    font-size: 20px;
}
h1{
    color: crimson;
    background-color: blanchedalmond;
}
p{
    text-align: justify;
}
